.loader {
  width: 3rem;
  height: 3rem;
  border: 0.25rem solid var(--color-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: var(--animation-spin);
}
